@import "../styles/base";

.usa-button--base {
  @include u-bg("base-darker", "!important");
}
.usa-button--base:hover,
.usa-button--base.usa-button--hover {
  @include u-bg("base-darkest", "!important");
}
.usa-button--base:active,
.usa-button--base.usa-button--active {
  @include u-bg("ink", "!important");
}
.usa-button--base:disabled {
  @include u-bg("base", "!important");
}

.usa-button--outline {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 2px #565c65 !important;
  color: #565c65 !important;
}
.usa-button--outline:visited {
  color: #565c65 !important;
}
.usa-button--outline:hover,
.usa-button--outline.usa-button--hover {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 2px #3d4551 !important;
  color: #3d4551 !important;
}
.usa-button--outline:active,
.usa-button--outline.usa-button--active {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 2px #1b1b1b !important;
  color: #1b1b1b !important;
}
