[data-reach-menu-item] {
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
}

[data-reach-menu-link] {
  text-decoration: none;
  color: black;
  display: block;
}

[data-reach-menu-list] > *:last-child {
  margin-bottom: 0px;
  min-width: 120px;
}

[data-reach-menu-item][aria-disabled="true"] {
  cursor: default;
}

[data-reach-menu-list] {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
}

[data-reach-menu-list][tabindex]:focus {
  outline: none;
}
