textarea {
    resize: none !important;
    margin-top: 1rem !important;
}

.markdown-box {
    border: 1px solid rgb(58, 165, 244);
    border-radius: 2px;
    margin-top: 1rem;
    font-weight: 400;
    padding: 4px 11px;
    overflow: auto;
}