@forward "../styles/base.scss";

.tab {
  @include u-text("base", "!important");
  background-color: transparent !important;
}
.tab:hover {
  @include u-text("base-dark", "!important");
  background-color: transparent !important;
}
.tab-active {
  @include u-text("base", "!important");
  background-color: transparent !important;
  border-bottom: 3px solid color("base-dark") !important;
}
