@import "../styles/base";

.widgetContainer {
  position: relative;
  margin: -2px -20px -20px -20px;
  padding: 2px 20px 20px 20px;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
  }
}
