$theme-show-notifications: false;
$theme-image-path: "~uswds/dist/img";
$theme-font-path: "~uswds/dist/fonts";

// links
$theme-link-color: "base-dark";
$theme-link-visited-color: "base-light";
$theme-link-hover-color: "base-darkest";
$theme-link-active-color: "base-darkest";
