$theme-show-notifications: false;
$theme-image-path: "~uswds/dist/img";
$theme-font-path: "~uswds/dist/fonts";

// links
$theme-link-color: "gray-70";
$theme-link-visited-color: "gray-60";
$theme-link-hover-color: "gray-80";
$theme-link-active-color: "gray-90";
