@import "../styles/base.scss";

.paginationNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.paginationList {
  list-style-type: none;
}

.paginationItem {
  display: inline-block;
}

.moveDirection {
  text-decoration: none;
  cursor: pointer;
}

.moveDirection:hover {
  text-decoration: underline;
  cursor: pointer;
}
