.AdminLayout {
  min-height: 100vh !important;
}

.AdminLayout .ant-layout-header {
  padding: 0;
  height: 55px;
  background-color: #fff;
  box-shadow: rgba(40, 42, 49, 0.16) 0px 1px 2px 0px;
}

.AdminContent {
  margin: 20px;
}

.ContentBox {
  padding: 24px;
  min-height: 350px;
  background-color: #fff;
}

.ContentBox .ant-page-header-heading-title {
  font-size: 1.6rem;
}

.ContentBox .ant-page-header {
  padding: 0;
  margin-bottom: 24px;
}

.ant-btn {
  margin-right: 8px;
}