p {
  line-height: 1.4;
}

.logo {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

@media (min-width: 64em) {
  .navbar-long {
    width: 50% !important;
  }
}

.usa-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #565c65;
  color: #565c65;
}
.usa-button--outline:visited {
  color: #565c65;
}
.usa-button--outline:hover,
.usa-button--outline.usa-button--hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #3d4551;
  color: #3d4551;
}
.usa-button--outline:active,
.usa-button--outline.usa-button--active {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #1b1b1b;
  color: #1b1b1b;
}

.width-50 {
  width: 50% !important;
}

.preview-container {
  overflow: auto;
}

.line-chart > .recharts-legend-wrapper,
.column-chart > .recharts-legend-wrapper {
  top: -24px !important;
  left: 0 !important;
}

.bar-chart > .recharts-legend-wrapper,
.part-to-whole-chart > .recharts-legend-wrapper {
  top: -20px !important;
}

.overflow-x-hidden:hover {
  overflow-x: scroll;
}

.check-data-table {
  overflow-x: hidden;
  overflow-y: hidden;
}

.check-data-table:hover {
  overflow-x: visible;
}

.scroll-shadow {
  box-shadow: inset -25px 0px 8px -20px rgba(224, 224, 224, 0.5);
}

.z-index-logout {
  z-index: 100000;
}

.recharts-default-legend {
  text-align: left !important;
}

.bar-chart > * .recharts-default-legend,
.part-to-whole-chart > * .recharts-default-legend {
  margin-left: 8px !important;
}

.recharts-legend-item {
  margin-right: 16px !important;
}

body {
  background-color: #fafafa;
}

.usa-header--basic .usa-nav__primary-item > .usa-current::after,
.usa-header--basic .usa-nav__link:hover::after {
  background-color: #71767a !important;
}

.usa-header--basic .usa-nav__primary-item > .usa-current::after,
.usa-header--basic .usa-nav__link:hover::after {
  background-color: #71767a !important;
}

@media all and (min-width: 64em) {
  .usa-nav__primary > .usa-nav__primary-item > a:hover {
    color: #71767a !important;
  }
}

.usa-nav__primary button:hover {
  color: #71767a !important;
}

@media all and (min-width: 64em) {
  .usa-nav__primary button[aria-expanded="true"] {
    background-color: #71767a !important;
    color: white !important;
  }
}

@media all and (min-width: 64em) {
  .usa-nav__submenu {
    background-color: #71767a !important;
  }
}

.usa-breadcrumb {
  background-color: #fafafa;
}

.usa-table td,
.usa-table th {
  background-color: #fafafa;
}
